@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "IRANSansWeb-Regular";
  src: url(/fonts/IRANSansWeb.woff2);
  font-display: block;
}

@font-face {
  font-family: "SnappWeb2-Regular";
  src: url(/fonts/SnappWeb2.0-Regular.woff);
  font-display: block;
}

.ltr{
  direction: ltr;
}

.ltr-laptop{
  direction: rtl;
}

@media only screen and (min-width: 960px) {
  .ltr-laptop{
    direction: ltr;
  }
}

.rtl{
  direction: rtl;
}
.text-shadow{
  text-shadow:rgba(0, 0, 0, 0.24) 0px 1px 0px
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0000;
  border-radius: 7px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border: 3px solid #fff;
  border-radius: 16px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 3px solid #f4f4f4;
}
::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

button{
  padding: 1px 6px ;
}

.bg-food-party{
  background: radial-gradient(100% 303.06% at 0% 0%, rgb(252, 95, 153) 0%, rgb(225, 36, 146) 100%);
}
.rounded-food-party{
  border-radius: 0.25rem 0.25rem 7.5rem;
}

.text-shadow-food-party{
  text-shadow:rgba(0, 0, 0, 0.24) 0px 1px 0px
}

@keyframes modal-animation {
  from {    background-color: transparent;  }
  to {    background-color: #40404066;  }
}

@keyframes modal-animation2 {
  from {       transform: translate3d(0px, -2rem, 0px);  }
  to {        transform: translateZ(0px);  }
}

@keyframes modal-animation3 {
  from {    opacity: 0;  }
  to {    opacity: 1; }
}

@keyframes modal-animation4 {
  from {       transform: translate3d(0px, 2rem, 0px);  }
  to {        transform: translateZ(0px);  }
}
.leaflet-control{
  display: none;
}